@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

* {
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: Helvetica, Arial, sans-serif;

}

#app-container{
	width: 100%;
	background: url('../images/water (2).jpeg')center center no-repeat fixed;
	background-size: cover;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	a{
		color: #000;
	}
}

.main-container{
	height: 50vh;
	width: 100%;
	background: url('../images/images (1).jpeg')center center no-repeat fixed;
	background-size: cover;
	display: inline-block;
	h1, p{
	color: #FFF;
	font-family: 'Sanchez', 'Baskervilles', serif;
	text-shadow: 1px 1px #000;
	}
}


.intro-container{

	color: #FFF;
}
.technical-container{
	background: url('../images/water (2).jpeg')center center no-repeat fixed;
	background-size: cover;
	width: 100%;
	color: #FFF;
}
.html-image{
	width: 3%;
}
.css-image{
	width: 3%;
}
.javascript-image{
	width: 3%;
}
.react-image{
	width: 3%;
}
.backbone-image{
	width: 3%;
}
.redux-image{
	width: 3%;
}
.education-container{
	background: url('../images/images (1).jpeg')center center no-repeat fixed;
	background-size: cover;
	display: inline-block;
	width: 100%;
	color: #FFF;
	.ironyard, .ict, .ttc{
		display: inline-block;
		width: 24.33%;
		img{
			width: 50%;
		}
	}
}


.experience-container{
	background: url('../images/water (2).jpeg') center center no-repeat fixed;
	background-size: cover;
	display: inline-block;
	width: auto;
	color: #FFF;
		img{
			width: 30%;
		}
		.baesystems{
			margin: auto;
		}
		.spacemaker{
			margin: auto;
		}
		.avery{
			margin: auto;
		}

}

.accomplishment-container{
	background: url('../images/images (1).jpeg')center center no-repeat fixed;
	background-size: cover;
	width: 100%;
	color: #FFF;
}
.footer-container{
	color: #FFF;
	text-shadow: 1px 1px black;
	background-color: #A4B8E9;
}
